

.anim-container{
  position: relative;
  height: 160px;
  width: 160px;
}

.jetpack {
  width: 160px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


@media only screen and (min-width: 750px){

  .jetpack .fly .hombre {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(http://cdns2.freepik.com/img/hombre.png) no-repeat;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .jetpack .fuego {
    width: 25px;
    height: 32px;
    position: absolute;
    background: url(http://cdns2.freepik.com/img/fuego.png) no-repeat;
    left: 64px;
    top: 113px;
    -webkit-animation: fire 100ms infinite ease-in-out;
    -moz-animation: fire 100ms infinite ease-in-out;
    animation: fire 100ms infinite ease-in-out;
  }

}


@-webkit-keyframes fire {
  0%{
    transform: rotate(10deg);
  }

  50%{
    transform: rotate(-10deg);
  }

  100%{
    transform: rotate(10deg);
  }
}


.ws-opti-btn{
  .button--dblcontent{
    display: block;
    &:hover {.hovered {bottom: 53px;}}
  }
}
